mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.login {
  box-shadow: 0 4px 8px 0 purple;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: purple;
}

.submit {
  background-color: purple;
  color:white;
  cursor: pointer;
  margin: auto;
  display: block;
}

p {
  text-align: center;
  margin-top: 30px;
}

p a {
  font-weight: bold;
  color:purple;
}
